<footer class="bg-body-tertiary text-center text-lg-start fixed-bottom">
    <div class="text-center p-3" style="display: flex; background-color: rgb(255 255 255 / 78%); justify-content: space-between; align-items: center;">
        <strong>Introducción a la Programación | UNGS</strong>
        <span style="flex: 1; text-align: center; font-weight: bold;">Integrantes: Joaquin Benitez, Patricio Stivic, Roberto Duarte, Valentino Forastello</span>
        <strong>{{VERSION}}</strong>
    </div>
</footer>
</body>

</html>